.info {
    display: flex;
    justify-content: space-between;

    align-items: flex-start;
    padding: 20px;
   
}

.image {
    
    width: 5px;
   margin: -60px;
    
   
    display: flex;
    justify-content: center;
    animation: slideUp 1s ease-in-out;
    
}

@keyframes slideUp {
    from {
        transform: translateY(100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}



.left_side {
  

   
    line-height: 1.5;
    margin-right: 20px;
    background-image: url('../../../Clip.png');
    background-color: rgb(7, 7, 66);
    flex: 1;
    height: 350px;
    font-size: 50px;
    color: white;
    text-align: center;
    width: 100px;
    
  
}

.left_side ul{
    margin-top: 40px;
}

.info_text {
    order: 2;
 
    flex: 2;
    
    max-width: 600px;
    text-align: left;
    color: #333;
    margin-left: 20px;
    
}

.info_text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.info_text p {
    font-size: 1rem;
    line-height: 1.6;
}